@theme {
  --color-cta-destructive-disabled: --alpha(var(--color-red-500) / 50%);
  --color-cta-destructive-hovered: var(--color-error-500);
  --color-cta-destructive-interacted: var(--color-error-700);
  --color-cta-destructive-rest: var(--color-error-600);
  --color-cta-destructive-focused-border: var(--color-neutral-0-border);
  --color-cta-destructive-selected-border: var(--color-brand-800-border);
  --color-cta-destructive-default-foreground: var(--color-neutral-0-foreground);
  --color-cta-destructive-disabled-foreground: --alpha(var(--color-neutral-0-foreground) / 50%);
  --color-cta-ghost-hovered: var(--color-layer-2);
  --color-cta-ghost-interacted: var(--color-layer-3);
  --color-cta-ghost-rest: var(--color-neutral-0);
  --color-cta-ghost-focused-border: var(--color-neutral-0-border);
  --color-cta-ghost-selected-border: var(--color-brand-800-border);
  --color-cta-ghost-default-foreground: var(--color-neutral-0-foreground);
  --color-cta-ghost-disabled-foreground: --alpha(var(--color-neutral-0-foreground) / 50%);
  --color-cta-link-hovered: var(--color-brand-900-foreground);
  --color-cta-link-rest: var(--color-brand-800-foreground);
  --color-cta-menu-item-hovered: var(--color-layer-3);
  --color-cta-menu-item-interacted: var(--color-layer-4);
  --color-cta-menu-item-rest: var(--color-layer-2);
  --color-cta-menu-item-interacted-border: var(--color-brand-800-border);
  --color-cta-menu-item-default-foreground: var(--color-neutral-0-foreground);
  --color-cta-menu-item-destructive-foreground: var(--color-error-1000-foreground);
  --color-cta-outline-hovered: var(--color-neutral-0);
  --color-cta-outline-interacted: var(--color-layer-2);
  --color-cta-outline-rest: var(--color-neutral-0);
  --color-cta-outline-selected: var(--color-layer-3);
  --color-cta-outline-focused-border: var(--color-neutral-0-border);
  --color-cta-outline-hovered-border: var(--color-neutral-900-border);
  --color-cta-outline-rest-border: var(--color-neutral-1000-border);
  --color-cta-outline-selected-border: var(--color-brand-800-border);
  --color-cta-outline-default-foreground: var(--color-neutral-0-foreground);
  --color-cta-outline-disabled-foreground: --alpha(var(--color-neutral-0-foreground) / 50%);
  --color-cta-primary-disabled: --alpha(var(--color-brand-400) / 50%);
  --color-cta-primary-interacted: var(--color-brand-500);
  --color-cta-primary-rest: var(--color-brand-400);
  --color-cta-primary-focused-border: var(--color-neutral-0-border);
  --color-cta-primary-rest-border: --alpha(var(--color-neutral-0-border) / 20%);
  --color-cta-primary-selected-border: var(--color-brand-800-border);
  --color-cta-primary-default-foreground: var(--color-neutral-0-foreground);
  --color-cta-primary-disabled-foreground: --alpha(var(--color-neutral-0-foreground) / 50%);
  --color-cta-secondary-disabled: --alpha(var(--color-neutral-900) / 50%);
  --color-cta-secondary-hovered: var(--color-layer-3);
  --color-cta-secondary-interacted: var(--color-layer-4);
  --color-cta-secondary-rest: var(--color-layer-2);
  --color-cta-secondary-default-border: var(--color-neutral-1000-border);
  --color-cta-secondary-focused-border: var(--color-neutral-0-border);
  --color-cta-secondary-selected-border: var(--color-brand-800-border);
  --color-cta-secondary-default-foreground: var(--color-neutral-0-foreground);
  --color-cta-secondary-disabled-foreground: --alpha(var(--color-neutral-0-foreground) / 50%);
  --color-cta-tertiary-disabled: --alpha(var(--color-neutral-900) / 50%);
  --color-cta-tertiary-hovered: var(--color-layer-3);
  --color-cta-tertiary-interacted: var(--color-layer-4);
  --color-cta-tertiary-rest: var(--color-layer-2);
  --color-cta-tertiary-focused-border: var(--color-neutral-0-border);
  --color-cta-tertiary-selected-border: var(--color-brand-800-border);
  --color-cta-tertiary-default-foreground: var(--color-neutral-0-foreground);
  --color-cta-tertiary-disabled-foreground: --alpha(var(--color-neutral-0-foreground) / 50%);
  --color-cta-tertiary-notification-mark-border: var(--color-error-500);
  --color-cta-tertiary-notification-mark-foreground: var(--color-layer-2);
}
