@theme {
  --color-tag-github: var(--color-brand-800);
  --color-tag-github-foreground: var(--color-brand-900-foreground);
  --color-tag-link: var(--color-layer-2);
  --color-tag-link-border: var(--color-neutral-1000-border);
  --color-tag-link-selected-border: var(--color-brand-800-border);
  --color-tag-link-foreground: var(--color-brand-800-foreground);
  --color-tag-link-hover: var(--color-brand-900-foreground);
  --color-tag-metric-decrease: var(--color-warning-900);
  --color-tag-metric-decrease-foreground: var(--color-warning-1000-foreground);
  --color-tag-metric-decrease-icon: var(--color-warning-800);
  --color-tag-metric-increase: var(--color-success-900);
  --color-tag-metric-increase-foreground: var(--color-success-900-foreground);
  --color-tag-metric-increase-icon: var(--color-success-800);
  --color-tag-metric-neutral: var(--color-neutral-800);
  --color-tag-metric-neutral-foreground: var(--color-neutral-800-foreground);
  --color-tag-metric-neutral-icon: var(--color-neutral-700);
  --color-tag-role-admin: var(--color-error-900);
  --color-tag-role-admin-foreground: var(--color-error-900-foreground);
  --color-tag-role-owner: var(--color-caution-900);
  --color-tag-role-owner-foreground: var(--color-caution-1000-foreground);
  --color-tag-role-standard: var(--color-neutral-1000);
  --color-tag-role-standard-foreground: var(--color-neutral-800-foreground);
  --color-tag-status-caution: var(--color-caution-1000);
  --color-tag-status-caution-border: var(--color-caution-1000-border);
  --color-tag-status-caution-foreground: var(--color-neutral-0-foreground);
  --color-tag-status-information: var(--color-brand-900);
  --color-tag-status-information-border: var(--color-brand-900-border);
  --color-tag-status-information-foreground: var(--color-neutral-0-foreground);
  --color-tag-status-negative: var(--color-error-1000);
  --color-tag-status-negative-border: var(--color-warning-900-border);
  --color-tag-status-negative-foreground: var(--color-neutral-0-foreground);
  --color-tag-status-neutral: var(--color-neutral-800);
  --color-tag-status-neutral-border: var(--color-neutral-800-border);
  --color-tag-status-neutral-foreground: var(--color-neutral-0-foreground);
  --color-tag-status-positive: var(--color-success-1000);
  --color-tag-status-positive-border: var(--color-success-1000-border);
  --color-tag-status-positive-foreground: var(--color-neutral-0-foreground);
  --color-tag-utility: var(--color-layer-2);
  --color-tag-utility-border: var(--color-neutral-1000-border);
  --color-tag-utility-primary-foreground: var(--color-neutral-0-foreground);
  --color-tag-utility-secondary-foreground: var(--color-neutral-900-foreground);
}
