@theme {
  --color-*: initial;
  --radius-*: initial;
  --spacing: 4px;
}

@import "./primitives/color-dark.css";
@import "./primitives/font.css";
@import "./primitives/radius.css";

@import "./components/animation.css";
@import "./components/badge.css";
@import "./components/banner.css";
@import "./components/button.css";
@import "./components/card.css";
@import "./components/checkbox.css";
@import "./components/cta.css";
@import "./components/input.css";
@import "./components/misc.css";
@import "./components/navigation.css";
@import "./components/progress-bar.css";
@import "./components/sidebar.css";
@import "./components/static.css";
@import "./components/stepper.css";
@import "./components/switch.css";
@import "./components/tabs.css";
@import "./components/tag.css";
@import "./components/toast.css";
@import "./components/widget.css";
@import "./components/window.css";

@theme dark {
  --secondary: hsla(240, 3.7%, 15.9%, 1);
  --secondary-foreground: hsla(0, 0%, 98%, 1);

  --color-dynamic-image: hsla(213, 100%, 6%, 1);
  --cube-active: hsla(212, 100%, 51%, 1);
  --cube-inactive: hsla(211, 100%, 17%, 1);
  --static-success: hsla(142, 76%, 36%, 1);
}

.corner-cube-bg {
  position: relative;
  overflow: hidden;
}

.corner-cube-bg::before {
  content: "";
  position: absolute;
  top: -20;
  right: -20;
  bottom: 0;
  left: 0;
  background-image: url("/images/bg-cube.svg");
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  background-size: auto;
  z-index: 0;
}

.corner-cube-bg:hover::before {
  opacity: 1;
}

.fade-overlay-left {
  background: linear-gradient(to right, #000a15 5%, transparent 100%);
}

.fade-overlay-right {
  background: linear-gradient(to left, #000a15 5%, transparent 100%);
}

.fade-overlay-bottom {
  background: linear-gradient(to top, #000a15 0%, transparent 100%);
}

.fade-overlay-top {
  background: linear-gradient(to bottom, #000a15 0%, transparent 100%);
}

.banner-children {
  @apply flex flex-col gap-1;

  *, *::before, *::after {
    @apply m-0 p-0;
  }

  ul {
    @apply ml-8;
    ul {
      @apply ml-4 mt-2;
      li {
        @apply pb-0;
      }
    }
    li {
      @apply m-0! text-sm leading-5 text-white! pb-2;
    }
  }

  h1 {
    a {
      @apply m-0! text-sm leading-5 font-bold! text-white!;
    }
  }

  p {
    @apply m-0! text-sm leading-5 text-white!;
  }
}
