@theme dark {
    --color-blue-100: #60a5fa;
    --color-blue-1000: #000f21;
    --color-blue-200: #5184dc;
    --color-blue-300: #047bff;
    --color-blue-400: #00369f;
    --color-blue-500: #024a99;
    --color-blue-600: #003875;
    --color-blue-700: #002a58;
    --color-blue-800: #152033;
    --color-blue-900: #001133;

    --color-bluish-gray-1000: #000a15;
    --color-bluish-gray-400: #36404c;
    --color-bluish-gray-500: #1e2a39;
    --color-bluish-gray-600: #1d232a;
    --color-bluish-gray-700: #18222f;
    --color-bluish-gray-800: #121a23;
    --color-bluish-gray-900: #0b1118;
    --color-cyan-1000: #35c3ff;
    --color-gray-1000: #292929;
    --color-gray-800: #d1d1d1;
    --color-gray-900: #9e9e9e;
    --color-green-1000: #002213;
    --color-green-200: #44d2a1;
    --color-green-300: #09eb86;
    --color-green-400: #36a072;
    --color-green-500: #16a34a;
    --color-green-600: #187649;
    --color-green-700: #008c4d;
    --color-green-800: #116546;
    --color-green-900: #142b2a;
    --color-orange-1000: #2f1900;
    --color-orange-500: #f1823b;
    --color-orange-600: #e37542;
    --color-orange-700: #b34600;
    --color-orange-800: #7c4300;
    --color-orange-900: #663d2a;
    --color-red-100: #ff6e59;
    --color-red-1000: #2c1100;
    --color-red-200: #e54447;
    --color-red-300: #a83537;
    --color-red-400: #b91c1c;
    --color-red-500: #991b1b;
    --color-red-600: #7f1d1d;
    --color-red-700: #450a0a;
    --color-red-800: #2a2022;
    --color-red-900: #2b1714;
    --color-yellow-1000: #211e00;
    --color-yellow-600: #fff980;
    --color-yellow-700: #e2b74c;
    --color-yellow-800: #837600;
    --color-yellow-900: #2b2a14;
    --color-black: #000000;
    --color-white: #ffffff;

    --color-brand-100: #10223D;
    --color-brand-200: var(--color-blue-200);
    --color-brand-300: var(--color-blue-300);
    --color-brand-400: var(--color-blue-400);
    --color-brand-500: var(--color-blue-500);
    --color-brand-600: var(--color-blue-600);
    --color-brand-700: var(--color-blue-700);
    --color-brand-800: var(--color-blue-800);
    --color-brand-900: var(--color-blue-900);
    --color-brand-1000: var(--color-blue-1000);
    --color-brand-1000-border: var(--color-blue-600);
    --color-brand-800-border: var(--color-blue-200);
    --color-brand-900-border: var(--color-blue-400);
    --color-brand-1000-foreground: var(--color-blue-300);
    --color-brand-800-foreground: var(--color-blue-100);
    --color-brand-900-foreground: var(--color-blue-200);

    --color-neutral-0: var(--color-white);
    --color-neutral-600: var(--color-gray-900);
    --color-neutral-700: var(--color-bluish-gray-400);
    --color-neutral-800: var(--color-bluish-gray-600);
    --color-neutral-1000: var(--color-gray-1000);
    --color-neutral-0-border: var(--color-white);
    --color-neutral-800-border: var(--color-gray-900);
    --color-neutral-900-border: var(--color-bluish-gray-400);
    --color-neutral-1000-border: var(--color-bluish-gray-600);
    --color-neutral-0-foreground: var(--color-white);
    --color-neutral-800-foreground: var(--color-gray-800);
    --color-neutral-900-foreground: var(--color-gray-900);
    --color-neutral-1000-foreground: var(--color-bluish-gray-1000);

    --color-error-1000: var(--color-red-1000);
    --color-error-400: var(--color-red-200);
    --color-error-500: var(--color-red-400);
    --color-error-600: var(--color-red-500);
    --color-error-700: var(--color-red-700);
    --color-error-800: var(--color-red-900);
    --color-error-900: var(--color-red-1000);
    --color-error-1000-border: var(--color-red-600);
    --color-error-900-border: var(--color-red-400);
    --color-error-1000-foreground: var(--color-red-400);
    --color-error-900-foreground: var(--color-red-100);

    --color-caution-1000: var(--color-yellow-1000);
    --color-caution-900: var(--color-yellow-900);
    --color-caution-1000-border: var(--color-yellow-800);
    --color-caution-1000-foreground: var(--color-yellow-600);

    --color-success-1000: var(--color-green-1000);
    --color-success-700: var(--color-green-500);
    --color-success-800: var(--color-green-800);
    --color-success-900: var(--color-green-900);
    --color-success-1000-border: var(--color-green-700);
    --color-success-900-border: var(--color-green-600);
    --color-success-1000-foreground: var(--color-green-500);
    --color-success-900-foreground: var(--color-green-300);

    --color-warning-1000: var(--color-orange-1000);
    --color-warning-700: var(--color-orange-600);
    --color-warning-800: var(--color-orange-900);
    --color-warning-900: var(--color-red-800);
    --color-warning-1000-border: var(--color-orange-900);
    --color-warning-900-border: var(--color-orange-700);
    --color-warning-1000-foreground: var(--color-orange-500);

    --color-layer-1: var(--color-bluish-gray-900);
    --color-layer-2: var(--color-bluish-gray-800);
    --color-layer-3: var(--color-bluish-gray-700);
    --color-layer-4: var(--color-bluish-gray-500);
    --color-layer-base: var(--color-bluish-gray-1000);
    --color-layer-overlay: --alpha(var(--color-bluish-gray-1000) / 50%);

    --color-visualization-1: var(--color-cyan-1000);
    --color-visualization-2: var(--color-red-300);
    --color-visualization-3: var(--color-red-200);
    --color-visualization-4: var(--color-orange-600);
    --color-visualization-5: var(--color-yellow-700);
    --color-visualization-6: var(--color-green-200);
    --color-visualization-7: var(--color-green-400);
    --color-visualization-8: var(--color-green-600);

    --color-foundation: var(--color-layer-base);
    --color-foundation-foreground: var(--color-white);
}
